# Ignore large data files and logs
/data/
**/*.csv
**/*.gz

# Logs and temporary outputs
*.log
logs/
*.txt
# *.md removed to include README.md
# validation_* (keep ignore validation logs)
validation_*

# FileBrowser database
/filebrowser/database.db

# Python artifacts
__pycache__/
*.py[cod]
*.so

# Test cache
.pytest_cache/

# Virtual environments
.env
.venv

# System files
.DS_Store
Thumbs.db
